if !profile
    // Login button
    .header
        if lang == "en"
            a.header-title(href="/")="Excuse Generator"
        else if lang == "hu"
            a.header-title(href="/")="Kifogás Generátor"
        .header-login
            if lang == "en"
                button.language-chooser-button(onclick="switchLanguage();")="🇬🇧"
                div#signInButton.hoverable.s12.m6.offset-m3()
                    a.login-button(href="/oauth" style="text-transform:none;display:flex;")
                        img(width="20px" height="20px" style="margin-top:7px; margin-right:8px;" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png")
                        div(style="display:inline; margin-bottom:7px; margin-right:8px;") Login with Google
            else if lang == "hu"
                button.language-chooser-button(onclick="switchLanguage();")="🇭🇺"
                div#signInButton.hoverable.s12.m6.offset-m3()
                    a.login-button(href="/oauth" style="text-transform:none;display:flex;")
                        img(width="20px" height="20px" style="margin-top:7px; margin-right:8px;" alt="Google belépés" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png")
                        div(style="display:inline; margin-bottom:7px; margin-right:8px;") Belépés Google-el

else if !profile.username
    .header
        if lang == "en"
            a.header-title(href="/")="Excuse Generator"
        else if lang == "hu"
            a.header-title(href="/")="Kifogás Generátor"
        if lang == "en"
            button.language-chooser-button(onclick="switchLanguage();")="🇬🇧"
        else if lang == "hu"
            button.language-chooser-button(onclick="switchLanguage();")="🇭🇺"
        div#user.user
                img#small-avatar.avatar.small-profile-avatar(src=profile.picture)

        // Popup Window
        div#popup.popup
            div.popup-text="Please enter a username to complete the registration"
            input#username_input.username-input
            button.submit-button(onclick="register();")="Submit"
else
    .header
        if lang == "en"
            a.header-title(href="/")="Excuse Generator"
        else if lang == "hu"
            a.header-title(href="/")="Kifogás Generátor"
        div#popup.popup(style="display:none;padding: 20px;")
            a(href="/profile")
                img.avatar.big-profile-avatar(src=profile.picture, href="/profile")
            div(style="flex: 50%;margin-left: 10px;")
                div
                    if profile.admin
                        .admin-badge="ADMIN"
                    div(style="font-weight: bold; display:inline")= profile.username
                div(style="color: lightgray; font-size: smaller;")= profile.email

                .button-holder()
                    if lang == "en"
                        a.generic-button(href="/profile")="Profile"
                    else if lang == "hu"
                        a.generic-button(href="/profile")="Profil"

                    if lang == "en"
                        button#logout-button.generic-button(onclick="onLogoutClick();")="Logout"
                    else if lang == "hu"
                        button#logout-button.generic-button(onclick="onLogoutClick();")="Kilépés"

        div#user.user(onclick="toggleProfilePopup()")
                img#small-avatar.avatar.small-profile-avatar(src=profile.picture)

